.link{
    margin:7px;
}
.link a{
    width:25px;
    padding:5px;
    margin-right: 5px;
    background-color: black;
    color: white;
    border-radius: 2px;
    border: grey 2px groove;
}
.incorrect, .correct{
    font-weight: bolder;
    font-size: 18px;
}
.incorrect{
    color: red;
}
.correct{
    color: green;
}